<footer id="mainFooter">
	<nav id="footerNav">
		<ul id="footerUL">
			<li><%= link_to "Home", root_path %></li>
			<% @pages.each do | page | %>
				<li><%= link_to page.name, page_path(id: page.id, slug: page.slug) %></li>
			<% end %>
		</ul>
	</nav>
</footer>