<div id="mainContainer">
	<div id="bodyWrapper">
		<div id="articleWrapper">
			<%= render "article" %>
		</div>

		<div id="apnaMessage">
			<h3>ApnaPeg Message</h3>
			<p>asdasdadasdddddddddddddddddddddddddsadddddddddd</p>
		</div>

		<div id="homePageAdBlock">
			<%= image_tag "ad.png" %>
		</div>

		<div class="clear"></div>
	</div>
</div>