/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  font-family: Verdana, Geneva, sans-serif;
  margin: 0px;
  padding:0px;
}

body{
  background-color: #E8E8E8;
}

#mainSlideShow .rslides{
  list-style-type: none;
  width:100%;
}

.apnaPegLogo{
  width:150px;
  height:100px;
  position: relative;
  top:10px;
  left:390px;
}

.rslides img{
  width:100%;
  height:600px;
}

#mainSlideShow{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

#mainHeader{
  position: relative;
  width:100%;
  height:600px;
  background-color: rgba(0,0,0,0.25);
}

#mainNavigationUL{
  list-style-type: none;
  position: relative;
  top:-60px;
  left:550px;
}

#mainNavigationUL li{
  display: inline;
  padding-right: 20px;
}

#mainNavigationUL li a{
  color:white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

#mainNavigationUL li a:hover{
  color:red;
}

#socialMediaBlock{
  position: relative;
  left: 1100px;
  top: -100px;
}

#mainFooter{
  background-color: black;
  height:50px;
  padding-top: 20px;
}

#mainFooter #footerNav{
  width:700px;
  margin: 0 auto;
}

#footerNav ul{
  list-style-type: none;
}

#footerUL li{
  display:inline;
  padding-right: 100px;
}

#footerUL li a{
  text-decoration: none;
  color:white;
}