#mainContainer{
	width:1100px;
	margin: 10px auto;
	border:1px dotted gray;
	overflow:auto;
	background-color:white;
}

#articleWrapper{
	width:600px;
	float:left;
}

.article{
	width:550px;

	img{
		width:550px;
		height:250px;
	}

	.article_Title{
		width:550px;
		font-size:20px;
		position:relative;
		top:-60px;
		background-color: rgba(0,0,0,0.25);

		a{
			color:white;
			text-decoration:none;
		}

		a:hover{
			color:lime;
		}
	}

	.article_subtitle{
		position:relative;
		top:-20px;
		font-size:12px;
	}
}

#apnaMessage{
	float:left;
	background-color:red;
	width:450px;

	p{
		background-color:black;
		color:white;
	}
}

#homePageAdBlock{
	width:450px;
	margin-top:10px;
	border:1px solid black;
	float:left;
	
	img{
		width:450px;
	}
}

/*********************************************/

#showArticleWrapper{
	width:1100px;
	margin:0 auto;
	background-color:white;
	margin-top:10px;
	padding:5px;
	border:1px solid black;
	overflow:auto;

	#showArticle{
		width:600px;
		float:left;

		#showArticle_Title{
			width:600px;
		}

		#showArticle_Description{
			width:600px;
			font-size:12px;
		}

		img{
			margin-top:10px;
			width:600px;
			height:400px;
		}

		#article_information{
			margin-top:10px;
			font-size:15px;
			width:600px;
		}
	}

	#showPageAdBlock{
		margin-left:30px;
		width:450px;
		float:left;

		img{
			width:450px;
		}
	}

	#recentPostBlock{
		float:left;
		margin-left:30px;
		margin-top:10px;
		width:450px;

		h2{
			font-size:20px;
			background-color:#6D9CC5;
			text-align:center;
			border-top-right-radius:2em;
		}

		ul{
			list-style-type:none;
		}

		li a{
			font-size:12px;
			text-decoration:none;
			color:black;
		}

		li{
			padding-left:10px;
			background-color:#D2DCF0;
		}

		li:nth-child(even){
			background-color:#F2ECEC;
		}
	}
}